// sombras
$shadow-in: inset 0px 0px 0px 10px rgba(94, 94, 94, 0.4);
$shadow-out: 0px 0px 0px 5px rgba(0, 0, 0, 0.3);
$shadow-out2: 0px 0px 0px 10px rgba(0, 0, 0, 0.3);
$shadow-hov: 2px 3px 0px 2px rgba(0, 0, 0, 0.3);

//padding
$p-18 : 0 18px;
$p-32 : 0 32px;

//colores
$negro: #151213;
$blanco: #ffffff;
$amarillo: #F6FF42;
$verde: #27823F;
$azul: #3168F4;
$rojo: #A8382D;
$correcto: #49F477;
$incorrecto: #F45142;

//bordes
$borde: 2px solid $negro;

//verdes
// #1B5B2D #27823F #32A852 #3DCE65 #49F477
//rojos
//#822B23 #A8382D #CE4438 #F45142
//amarillos
//#DFE83C #F6FF42
//azules
//#1A3782 #2248A8 #2958CE #3168F4